<% content_for(:title, t('.title')) %>
  <div  class="text-2xl text-navy flex justify-center" >
    <div>
      <div class="my-5 flex justify-center" >
      <% if @profile.icon.present? %>
        <%= image_tag @profile.icon.variant(resize_to_fill: [ 200,200 ]), class: "rounded-full w-60, h-60" %>
			<% else %>
       <%= image_tag 'sample_profile.jpg', width: 200, height: 200, class: "rounded-full" %>
      <% end %>
      </div>
		  <div class="my-5" >
        <label>プレイヤーネーム:</label>
        <%= current_user.name %>
			</div>
	    <div class="my-5" >
        <label>愛用ラケット:</label>
        <%= @profile.racket_model %>
      </div>
  <div class= "my-5">
    <label>テニス歴:</label>
    <%= @profile.history %>
  </div>
  <div class="my-5 break-all max-w-md" >
    <label>プレースタイル:</label>
    <%= @profile.play_style %>
  </div>
  <div class="my-5" >
    <label>レベル:</label>
    <%= @profile.level %>
  </div>
  <div class="my-5" >
    <label>年代:</label>
    <%= @profile.generation_i18n %>
  </div>
  <div class="my-5" >
    <label>性別:</label>
    <%= @profile.gender_i18n %>
  </div>
  <div class="my-5 break-all max-w-md" >
      <label>自己紹介:</label>
      <%= @profile.body %>
    </p>
  </div>
	<!-- プロフィールを投稿したユーザーがサインインしている場合に表示される -->
	<%if user_signed_in? %>
    <div class= 'mt-2 text-center'>
      <!--  投稿編集、削除機能 -->
      <% if current_user.own?(@profile) %>
        <%= link_to '編集', edit_profile_path(@profile), class: "text-2xl text-white bg-green px-5 py-2 rounded-md " %>
      <% end %>
    </div>
	<% end %>

	</div>
</div>

