<h1 class="text-7xl font-semibold text-center py-1 ">詳細画面</h1>
  <div  class="text-2xl text-navy flex justify-center" >
    <div>
		  <div class="my-5" >
        <label>プレイヤーネーム:</label>
        <%= current_user.name %>
			</div>
	    <div class="my-5" >
        <label>愛用ラケット:</label>
        <%= @profile.racket_model %>
      </div>
  <div class= "my-5">
    <label>テニス歴:</label>
    <%= @profile.history %>
  </div>
  <div class="my-5" >
    <label>プレースタイル:</label>
    <%= @profile.play_style %>
  </div>
  <div class="my-5" >
    <label>レベル:</label>
    <%= @profile.level %>
  </div>
  <div class="my-5" >
    <label>年代:</label>
    <%= @profile.generation_i18n %>
  </div>
  <div class="my-5" >
    <label>性別:</label>
    <%= @profile.gender_i18n %>
  </div>
  <div class="my-5" >
    <label>自己紹介:</label>
    <%= @profile.body %>
  </div>
	<!-- プロフィールを投稿したユーザーがサインインしている場合に表示される -->
	<%if user_signed_in? %>
    <div class= 'mt-2 text-center'>
      <!--  投稿編集、削除機能 -->
      <% if current_user.own?(@profile) %>
        <%= link_to '編集', edit_profile_path(@profile), class: "text-2xl text-white bg-green px-5 py-2 rounded-md " %>
      <% end %>
    </div>
	<% end %>

	</div>
</div>

