<% if user_signed_in? %>
  <div class='md:flex'>
	  <div>
    <% if racket.like_by?(current_user) %>
	    <%= link_to racket_like_path(racket, racket.likes), data: { turbo_method: :delete } do %>
		    <%= image_tag "heart_fil.svg", class: 'size-5 md:size-6 ml-1' %>
		  <% end %>
    <% else %>
		  <%= link_to racket_likes_path(racket), data: { turbo_method: :post } do %>
		    <%= image_tag "heart.svg", class: 'size-5 md:size-6 ml-1' %>
		  <% end %>
    <% end %>
		</div>
		<div class='pl-1 pt-2 text-sm self-end'>
	    <%= racket.likes.count %>
    </div>
  </div>
<% end %>
