<h1 class="text-4xl text-green-700 font-semibold underline">My Rake</h1>
  <div>
    <% if @rackets.present? %>
      <% @rackets.each do |racket| %>
      <div>
        <%= racket.product_name %>
      </div>
        <%= racket.maker_name %>
      <div>
        <%= racket.created_at %>
			</div>
      <div>
        <%= link_to '編集', '#' %>
        <%= link_to '削除', '#' %>
      </div>
      <% end %>
	  <% else %>
      <p> 投稿がありません </p>
    <% end %>
  </div>