<h1 class="text-2xl font-semibold ">投稿画面</h1>
<%= form_with model: @racket, class: "new_racket" do |f| %>

  <!-- 使用ラケット名 -->
	<div>
    <%= f.label '種類' %>
    <%= f.text_field :product_name %>
	</div>

  <!-- 使用ラケットのメーカー名 -->
  <div>
    <%= f.label 'メーカー' %>
    <%= f.text_field :maker_name %>
  </div>

  <!-- 使用ラケットのフェイスサイズ -->
  <div>
    <%= f.label 'フェイスサイズ/inch' %>
    <%= f.number_field :face_size, in: 1..200 %>
  </div>

	<!-- 使用ラケットのガット（縦）の種類 -->
  <div>
    <%= f.label '使用ガット(縦)' %>
    <%= f.text_field :main_string %>
  </div>

  <!-- 使用ラケットのガット（横）の種類 -->
  <div>
    <%= f.label '使用ガット(横)' %>
    <%= f.text_field :cross_string %>
  </div>

  <!-- ガットのテンション(縦) -->
  <div>
    <%= f.label '縦ガットのテンション' %>
    <%= f.number_field :main_string_tension, in: 1..100 %>
  </div>

	<!-- ガットのテンション(横) -->
  <div>
    <%= f.label '横ガットのテンション' %>
    <%= f.number_field :cross_string_tension, in: 1..100 %>
  </div>

	<!-- 重りの使用箇所 -->
  <div>
    <%= f.label '重りの使用箇所' %>
    <%= f.text_field :weight_position %>
  </div>

  <!-- グリップの太さ -->
  <div>
    <%= f.label 'グリップの太さ' %>
    <%= f.number_field :grip_size, in: 1..20 %>
  </div>

  <!-- グリップテープ -->
  <div>
    <%= f.label 'グリップテープ' %>
    <%= f.text_field :grip_tape %>
	</div>

  <!-- タグ機能は本リリースにて実装 -->
  <div>
    <% f.label 'タグ' %>
    <% f.text_area :tag %>
  </div>

  <div>
    <%= f.label 'その他' %>
		<%= f.text_area :body %>

  <!-- 送信ボタンの作成 -->
	<div>
    <%= f.submit '投稿' %>
	</div>
<% end %>
